html{
    background-color: aqua;
    word-spacing: 2px;
    
}
#head{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration-line:underline;
}
#sub{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    }
    #text{
        font-weight: bold;
        word-spacing: 2px;
        margin-left: 40px;
        font-size: 25px;
    }
    #img{
        height: 400px;
        width: auto;
        margin-left: 300px;
        
    }
    #img2{
        height: 400px;
        width: auto;
        margin-left: 300px;
    }
    #img3{
        height: 400px;
        width: auto;
        margin-left: 300px;
    }
    #img4{
        height: 400px;
        width: auto;
        margin-left: 300px;
        }

    #img5{
        height: 400px;
            width: auto;
            margin-left: 300px;
            
        }
        #img6{
            height: 400px;
                width: auto;
                margin-left: 350px;
                
            }
        .flex{
            display: flex;
            height: 380px;
                width: 50px;
                margin-left: 0px;

            }
            .flex2{
                display: flex;
                height: 380px;
                    width: 50px;
                    margin-left: 0px;
    
                }
#footer{
    text-align: center;
    font: size 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:red ;
    text-shadow: 1px 1px black;
}
#copyright{
    color: aqua;
}
h6:hover{
    text-decoration-color: yellow;
}

    
        
    
